
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Fault</th>
                <th>Location</th>
                <th>Tags</th>
                <th>Block</th>
                <th>Name</th>
                 <th>Email</th>
            </tr>
        </thead>
        {{#each allFaults}}
            <tr>
                <td>{{this.fault}}</td>
                <td>{{this.location}}</td>
                <td>{{this.tags}}</td>
                <td>{{this.block}}</td>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
            </tr>
        {{/each}}
    </table>
</body>
</html>